@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);

    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    background-color: var(--grey900);
    color: var(--white);
    font-family: "Inter", sans-serif;
    width: 100vw;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    font-size: 14px;
}

a {
    text-decoration-line: none;
    color: var(--white);
}

main section {
    background-color: var(--grey800);
    padding: 30px 20px;
    border-radius: 16px;
    max-width: 340px;
    width: 100%;
    margin-bottom: 20px;
}

section header {
    text-align: center;
    margin-bottom: 20px;
}



section header h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

section header h3 {
    font-weight: 600;
    color: var(--green);
    font-size: 14px;
    margin-bottom: 20px;
}

section header p {
}

section header img {
    border-radius: 100%;
    width: 82px;
    height: 82px;
    margin-bottom: 18px;
}

section ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

section ul a {
    background-color: var(--grey700); 
    color: var(--white);
    width: 100%;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

section ul a:hover,
section ul a:focus {
    background-color: var(--green);
    color: var(--grey700);
}
